* {
    @include box-sizing(border-box);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

body {
    padding-top: 40px;
}

a {
    
    &:hover {
        text-decoration: none;
    }
    
}

ul, ol {
    margin: 0;
}

.H {
    margin-top: 0;
}